<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IMIC_SHOPEntities" connectionString="metadata=res://*/Entity.MyShopDb.csdl|res://*/Entity.MyShopDb.ssdl|res://*/Entity.MyShopDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYPC\SQLEXPRESS;initial catalog=IMIC_SHOP;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>